.images {
    // display: flex;
    // flex-wrap: wrap;
    // flex-flow: column wrap;
    // justify-content: flex-start;
    // align-items: flex-start;
    // background-color: rgb(34,34,34);
    // position: relative;
    // width: 100%;
    // min-height: 100vh;
    // font-family: 'Short Stack', cursive;
    // height: 1500px;
    width: 100%;
    overflow: hidden;
    margin-bottom: -1.875em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.875em;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 1.875em;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 1.875em;
    column-fill: auto;
    background-color: rgb(34,34,34);
    padding: 20px 15px 20px 5px;
    font-family: 'Short Stack', cursive;
    

    .each-image {
        // width: 28%;
        // position: relative;
        // margin: 5px;
        margin-bottom: 1.875em;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        position: relative;
       

        .image {
            width: 100%;
            border-radius: 6px;
        }

        .info {
            display: none;
        }
    }

    .each-image:hover {
        .image {
            filter: brightness(60%);
        }

        .info {
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 5%;
            // color: white;
            text-align: left;

            .day {
                background-color: white;
                color: black;
                text-align: center;
                padding: 3px;
            }

            .name {
                color: white;
            }
        }
    }

    .each-image-enlarge {
        width: 95%;
        position: absolute;
        z-index: 1;
        margin: 5px;

        .image {
            width: 100%;
            border-radius: 6px;
        }

        .info {
            display: none;
        }
    }



}